* {
  margin: 0;
  /* outline: 1px solid red; */
}

body {
  background-color: #f2eee2;
}
.app {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.logoImg {
  object-fit: cover;
  height: 150px;
}

.search-bar input {
  padding-left: 35px;
  color: grey;
  box-shadow: 2px 3px 28px 1px rgba(0, 0, 0, 0.1);
  border: 0px solid transparent;
  border-radius: 5px;

  height: 118px;
  font-size: 40px;
}

.yourSentence {
  display: flex;
  justify-content: space-around;
  font-size: 2rem !important;
  font-weight: bold;
  padding: 20px;
}

.tabsContainer {
  display: flex;
  justify-content: space-around;
  /* align-items: stretch; */
  padding: 20px;
}

.imagesLabel {
  padding-right: 20px;
}

/* video css */

.video__container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
