* {
  margin: 0;
  /* outline: 1px solid red; */
}

body {
  background-color: #f2eee2;
}

body > #root > div {
  height: 100vh;
}

.app {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  padding: 20px;
  flex-grow: 1;
}

.marginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  padding: 0px 20px 20px 20px;
  flex-grow: 2;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
  flex-grow: 3;
}

.logoImg {
  object-fit: cover;
  height: 150px;
  flex-grow: 1;
}

/* shrink logo on smaller devices */
@media only screen and (max-width: 600px) {
  .makeStyles-toolbar-7 {
    min-height: 40px;
    /* align-items: flex-start; */
    /* padding-top: 8px; */
    /* padding-bottom: 16px; */
  }

  .logoImg {
    object-fit: cover;
    height: 50px;
    flex-grow: 1;
  }

  .sentence {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5rem !important;
    font-weight: bold;
    text-align: center;
    line-height: 1 !important;
  }

  .MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    letter-spacing: 0.00938em;
    line-height: 1 !important;
  }
}

.tabsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  /* align-items: stretch; */
  padding: 5px;
  flex-grow: 2;
}

/* shrink tabs on smaller devices */
@media only screen and (max-height: 600px) {
  /* .logoImg {
    object-fit: cover;
    height: 50px;
    flex-grow: 1;
  } */
}

.search-bar input {
  padding-left: 35px;
  color: grey;
  box-shadow: 2px 3px 28px 1px rgba(0, 0, 0, 0.1);
  border: 0px solid transparent;
  border-radius: 5px;

  height: 50px;
  font-size: 40px;
}

.yourSentence {
  display: flex;
  justify-content: space-around;
  font-size: 2rem !important;
  font-weight: bold;
  width: 100%;
  border: 1px solid red;
}

.sentence {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5rem !important;
  font-weight: bold;
  text-align: center;
}

.sentenceSwitchContainer {
  display: flex;
  justify-content: space-around;
  font-size: 2rem !important;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  border: 1px solid red;
}

.tabsContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  /* align-items: stretch; */
  padding: 5px;
}

.imagesLabel {
  padding-right: 20px;
}

/* video css */

.video__container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.MuiFormLabel-root.Mui-focused {
  color: red !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

.searchColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
