.H3 {
  text-align: center;
  display: flex;
  color: Black;
  font-size: 1rem;
}

.FooterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  /* border: 1px solid yellow; */
}

@media only screen and (max-width: 600px) {
  .FooterContainer {
    padding: 0px !important;
    /* border: 1px solid yellow; */
  }
}
