.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* makes margin around all cards */
.MuiCard-root {
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}
